<!DOCTYPE html>>
<html>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <head>
        
        <meta charset="utf-8">
        <title>Assistive Tech</title>
    
        <div id="wrapper">
          <div class="overlay"></div>
    </head>
    <body id="background">
        <div class="nav-wrapper">
                <div class="left-nav">
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="home.hbs">Red Light Green Light</a>
                    </div>

                    <div class="nav-link-wrapper">
                        <a href="home.hbs">Game 1</a>
                    </div>

                    <div class="nav-link-wrapper">
                        <a href="home.hbs">Game 2</a>
                    </div>
                </div>

                <div class="right-nav">
                    <div class="brand">
                        <div>Assistive Technology Games!!</div>
                    </div>

                </div>
        </div> 

        <div class="elements-container">
            <p id="test">Hello!</p>
            <img src="images/are.PNG" alt="are">
            <button id="startbutton" onclick="gameFunc()">Start the Game!</button>
        </div>

        <script>
            function gameFunc() {
                console.log("game started");
                document.getElementById("startbutton").innerhtml = "I finished!"
                setInterval(flipColors, 10000);
            }

            function flipColors() {
                if ( document.body.style.background == "red" ){
                    document.body.style.background = "lightgreen";
                }
                else {
                    document.body.style.background = "red";
                }
            }
        </script>
    </body>
</html>

